@import '../node_modules/bootstrap/scss/bootstrap';

// My Theme Colors
$dark-violet: #6b2d5c;
$dark-pink: #f0386b;
$pink: #ff5376;
$light-pink: #f8c0c8;
$brown: #e2c290;
$yellow: #f9c80e;
$blue: #43bccd;

$primary: $dark-violet;
$secondary: $pink;